.intro-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100vh;
    color: var(--primaryColor);
    /* background-color: white; */
    overflow: auto;

}

.background-wave{
    height: 95vh;
    width: 300%;
    position: absolute;
    top:0px;
    left: 0px;
    z-index: -1;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='658' height='79' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='14.5' stroke-opacity='0.86'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    animation: wave 13s infinite alternate-reverse;
}

@keyframes wave {
    0%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(-50%);
    }
}

.heading-2 {
    margin-top: clamp(130px, 30vh, 30vh);
    font-size: clamp(40px, 8vw, 80px);
}

.heading-1 {
    font-size: clamp(40px, 8vw, 80px);
}

/* starts */
#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #1b2735;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #1b2735, 324px 42px #1b2735, 303px 586px #1b2735,
    1312px 276px #1b2735, 451px 625px #1b2735, 521px 1931px #1b2735, 1087px 1871px #1b2735,
    36px 1546px #1b2735, 132px 934px #1b2735, 1698px 901px #1b2735, 1418px 664px #1b2735,
    1448px 1157px #1b2735, 1084px 232px #1b2735, 347px 1776px #1b2735, 1722px 243px #1b2735,
    1629px 835px #1b2735, 479px 969px #1b2735, 1231px 960px #1b2735, 586px 384px #1b2735,
    164px 527px #1b2735, 8px 646px #1b2735, 1150px 1126px #1b2735, 665px 1357px #1b2735,
    1556px 1982px #1b2735, 1260px 1961px #1b2735, 1675px 1741px #1b2735,
    1843px 1514px #1b2735, 718px 1628px #1b2735, 242px 1343px #1b2735, 1497px 1880px #1b2735,
    1364px 230px #1b2735, 1739px 1302px #1b2735, 636px 959px #1b2735, 304px 686px #1b2735,
    614px 751px #1b2735, 1935px 816px #1b2735, 1428px 60px #1b2735, 355px 335px #1b2735,
    1594px 158px #1b2735, 90px 60px #1b2735, 1553px 162px #1b2735, 1239px 1825px #1b2735,
    1945px 587px #1b2735, 749px 1785px #1b2735, 1987px 1172px #1b2735, 1301px 1237px #1b2735,
    1039px 342px #1b2735, 1585px 1481px #1b2735, 995px 1048px #1b2735, 524px 932px #1b2735,
    214px 413px #1b2735, 1701px 1300px #1b2735, 1037px 1613px #1b2735, 1871px 996px #1b2735,
    1360px 1635px #1b2735, 1110px 1313px #1b2735, 412px 1783px #1b2735, 1949px 177px #1b2735,
    903px 1854px #1b2735, 700px 1936px #1b2735, 378px 125px #1b2735, 308px 834px #1b2735,
    1118px 962px #1b2735, 1350px 1929px #1b2735, 781px 1811px #1b2735, 561px 137px #1b2735,
    757px 1148px #1b2735, 1670px 1979px #1b2735, 343px 739px #1b2735, 945px 795px #1b2735,
    576px 1903px #1b2735, 1078px 1436px #1b2735, 1583px 450px #1b2735, 1366px 474px #1b2735,
    297px 1873px #1b2735, 192px 162px #1b2735, 1624px 1633px #1b2735, 59px 453px #1b2735,
    82px 1872px #1b2735, 1933px 498px #1b2735, 1966px 1974px #1b2735, 1975px 1688px #1b2735,
    779px 314px #1b2735, 1858px 1543px #1b2735, 73px 1507px #1b2735, 1693px 975px #1b2735,
    1683px 108px #1b2735, 1768px 1654px #1b2735, 654px 14px #1b2735, 494px 171px #1b2735,
    1689px 1895px #1b2735, 1660px 263px #1b2735, 1031px 903px #1b2735, 1203px 1393px #1b2735,
    1333px 1421px #1b2735, 1113px 41px #1b2735, 1206px 1645px #1b2735, 1325px 1635px #1b2735,
    142px 388px #1b2735, 572px 215px #1b2735, 1535px 296px #1b2735, 1419px 407px #1b2735,
    1379px 1003px #1b2735, 329px 469px #1b2735, 1791px 1652px #1b2735, 935px 1802px #1b2735,
    1330px 1820px #1b2735, 421px 1933px #1b2735, 828px 365px #1b2735, 275px 316px #1b2735,
    707px 960px #1b2735, 1605px 1554px #1b2735, 625px 58px #1b2735, 717px 1697px #1b2735,
    1669px 246px #1b2735, 1925px 322px #1b2735, 1154px 1803px #1b2735, 1929px 295px #1b2735,
    1248px 240px #1b2735, 1045px 1755px #1b2735, 166px 942px #1b2735, 1888px 1773px #1b2735,
    678px 1963px #1b2735, 1370px 569px #1b2735, 1974px 1400px #1b2735, 1786px 460px #1b2735,
    51px 307px #1b2735, 784px 1400px #1b2735, 730px 1258px #1b2735, 1712px 393px #1b2735,
    416px 170px #1b2735, 1797px 1932px #1b2735, 572px 219px #1b2735, 1557px 1856px #1b2735,
    218px 8px #1b2735, 348px 1334px #1b2735, 469px 413px #1b2735, 385px 1738px #1b2735,
    1357px 1818px #1b2735, 240px 942px #1b2735, 248px 1847px #1b2735, 1535px 806px #1b2735,
    236px 1514px #1b2735, 1429px 1556px #1b2735, 73px 1633px #1b2735, 1398px 1121px #1b2735,
    671px 1301px #1b2735, 1404px 1663px #1b2735, 740px 1018px #1b2735, 1600px 377px #1b2735,
    785px 514px #1b2735, 112px 1084px #1b2735, 1915px 1887px #1b2735, 1463px 1848px #1b2735,
    687px 1115px #1b2735, 1268px 1768px #1b2735, 1729px 1425px #1b2735,
    1284px 1022px #1b2735, 801px 974px #1b2735, 1975px 1317px #1b2735, 1354px 834px #1b2735,
    1446px 1484px #1b2735, 1283px 1786px #1b2735, 11px 523px #1b2735, 1842px 236px #1b2735,
    1355px 654px #1b2735, 429px 7px #1b2735, 1033px 1128px #1b2735, 157px 297px #1b2735,
    545px 635px #1b2735, 52px 1080px #1b2735, 827px 1520px #1b2735, 1121px 490px #1b2735,
    9px 309px #1b2735, 1744px 1586px #1b2735, 1014px 417px #1b2735, 1534px 524px #1b2735,
    958px 552px #1b2735, 1403px 1496px #1b2735, 387px 703px #1b2735, 1522px 548px #1b2735,
    1355px 282px #1b2735, 1532px 601px #1b2735, 1838px 790px #1b2735, 290px 259px #1b2735,
    295px 598px #1b2735, 1601px 539px #1b2735, 1561px 1272px #1b2735, 34px 1922px #1b2735,
    1024px 543px #1b2735, 467px 369px #1b2735, 722px 333px #1b2735, 1976px 1255px #1b2735,
    766px 983px #1b2735, 1582px 1285px #1b2735, 12px 512px #1b2735, 617px 1410px #1b2735,
    682px 577px #1b2735, 1334px 1438px #1b2735, 439px 327px #1b2735, 1617px 1661px #1b2735,
    673px 129px #1b2735, 794px 941px #1b2735, 1386px 1902px #1b2735, 37px 1353px #1b2735,
    1467px 1353px #1b2735, 416px 18px #1b2735, 187px 344px #1b2735, 200px 1898px #1b2735,
    1491px 1619px #1b2735, 811px 347px #1b2735, 924px 1827px #1b2735, 945px 217px #1b2735,
    1735px 1228px #1b2735, 379px 1890px #1b2735, 79px 761px #1b2735, 825px 1837px #1b2735,
    1980px 1558px #1b2735, 1308px 1573px #1b2735, 1488px 1726px #1b2735,
    382px 1208px #1b2735, 522px 595px #1b2735, 1277px 1898px #1b2735, 354px 552px #1b2735,
    161px 1784px #1b2735, 614px 251px #1b2735, 526px 1576px #1b2735, 17px 212px #1b2735,
    179px 996px #1b2735, 467px 1208px #1b2735, 1944px 1838px #1b2735, 1140px 1093px #1b2735,
    858px 1007px #1b2735, 200px 1064px #1b2735, 423px 1964px #1b2735, 1945px 439px #1b2735,
    1377px 689px #1b2735, 1120px 1437px #1b2735, 1876px 668px #1b2735, 907px 1324px #1b2735,
    343px 1976px #1b2735, 1816px 1501px #1b2735, 1849px 177px #1b2735, 647px 91px #1b2735,
    1984px 1012px #1b2735, 1336px 1300px #1b2735, 128px 648px #1b2735, 305px 1060px #1b2735,
    1324px 826px #1b2735, 1263px 1314px #1b2735, 1801px 629px #1b2735, 1614px 1555px #1b2735,
    1634px 90px #1b2735, 1603px 452px #1b2735, 891px 1984px #1b2735, 1556px 1906px #1b2735,
    121px 68px #1b2735, 1676px 1714px #1b2735, 516px 936px #1b2735, 1947px 1492px #1b2735,
    1455px 1519px #1b2735, 45px 602px #1b2735, 205px 1039px #1b2735, 793px 172px #1b2735,
    1562px 1739px #1b2735, 1056px 110px #1b2735, 1512px 379px #1b2735, 1795px 1621px #1b2735,
    1848px 607px #1b2735, 262px 1719px #1b2735, 477px 991px #1b2735, 483px 883px #1b2735,
    1239px 1197px #1b2735, 1496px 647px #1b2735, 1649px 25px #1b2735, 1491px 1946px #1b2735,
    119px 996px #1b2735, 179px 1472px #1b2735, 1341px 808px #1b2735, 1565px 1700px #1b2735,
    407px 1544px #1b2735, 1754px 357px #1b2735, 1288px 981px #1b2735, 902px 1997px #1b2735,
    1755px 1668px #1b2735, 186px 877px #1b2735, 1202px 1882px #1b2735, 461px 1213px #1b2735,
    1400px 748px #1b2735, 1969px 1899px #1b2735, 809px 522px #1b2735, 514px 1219px #1b2735,
    374px 275px #1b2735, 938px 1973px #1b2735, 357px 552px #1b2735, 144px 1722px #1b2735,
    1572px 912px #1b2735, 402px 1858px #1b2735, 1544px 1195px #1b2735, 667px 1257px #1b2735,
    727px 1496px #1b2735, 993px 232px #1b2735, 1772px 313px #1b2735, 1040px 1590px #1b2735,
    1204px 1973px #1b2735, 1268px 79px #1b2735, 1555px 1048px #1b2735, 986px 1707px #1b2735,
    978px 1710px #1b2735, 713px 360px #1b2735, 407px 863px #1b2735, 461px 736px #1b2735,
    284px 1608px #1b2735, 103px 430px #1b2735, 1283px 1319px #1b2735, 977px 1186px #1b2735,
    1966px 1516px #1b2735, 1287px 1129px #1b2735, 70px 1098px #1b2735, 1189px 889px #1b2735,
    1126px 1734px #1b2735, 309px 1292px #1b2735, 879px 764px #1b2735, 65px 473px #1b2735,
    1003px 1959px #1b2735, 658px 791px #1b2735, 402px 1576px #1b2735, 35px 622px #1b2735,
    529px 1589px #1b2735, 164px 666px #1b2735, 1876px 1290px #1b2735, 1541px 526px #1b2735,
    270px 1297px #1b2735, 440px 865px #1b2735, 1500px 802px #1b2735, 182px 1754px #1b2735,
    1264px 892px #1b2735, 272px 1249px #1b2735, 1289px 1535px #1b2735, 190px 1646px #1b2735,
    955px 242px #1b2735, 1456px 1597px #1b2735, 1727px 1983px #1b2735, 635px 801px #1b2735,
    226px 455px #1b2735, 1396px 1710px #1b2735, 849px 1863px #1b2735, 237px 1264px #1b2735,
    839px 140px #1b2735, 1122px 735px #1b2735, 1280px 15px #1b2735, 1318px 242px #1b2735,
    1819px 1148px #1b2735, 333px 1392px #1b2735, 1949px 553px #1b2735, 1878px 1332px #1b2735,
    467px 548px #1b2735, 1812px 1082px #1b2735, 1067px 193px #1b2735, 243px 156px #1b2735,
    483px 1616px #1b2735, 1714px 933px #1b2735, 759px 1800px #1b2735, 1822px 995px #1b2735,
    1877px 572px #1b2735, 581px 1084px #1b2735, 107px 732px #1b2735, 642px 1837px #1b2735,
    166px 1493px #1b2735, 1555px 198px #1b2735, 819px 307px #1b2735, 947px 345px #1b2735,
    827px 224px #1b2735, 927px 1394px #1b2735, 540px 467px #1b2735, 1093px 405px #1b2735,
    1140px 927px #1b2735, 130px 529px #1b2735, 33px 1980px #1b2735, 1147px 1663px #1b2735,
    1616px 1436px #1b2735, 528px 710px #1b2735, 798px 1100px #1b2735, 505px 1480px #1b2735,
    899px 641px #1b2735, 1909px 1949px #1b2735, 1311px 964px #1b2735, 979px 1301px #1b2735,
    1393px 969px #1b2735, 1793px 1886px #1b2735, 292px 357px #1b2735, 1196px 1718px #1b2735,
    1290px 1994px #1b2735, 537px 1973px #1b2735, 1181px 1674px #1b2735,
    1740px 1566px #1b2735, 1307px 265px #1b2735, 922px 522px #1b2735, 1892px 472px #1b2735,
    384px 1746px #1b2735, 392px 1098px #1b2735, 647px 548px #1b2735, 390px 1498px #1b2735,
    1246px 138px #1b2735, 730px 876px #1b2735, 192px 1472px #1b2735, 1790px 1789px #1b2735,
    928px 311px #1b2735, 1253px 1647px #1b2735, 747px 1921px #1b2735, 1561px 1025px #1b2735,
    1533px 1292px #1b2735, 1985px 195px #1b2735, 728px 729px #1b2735, 1712px 1936px #1b2735,
    512px 1717px #1b2735, 1528px 483px #1b2735, 313px 1642px #1b2735, 281px 1849px #1b2735,
    1212px 799px #1b2735, 435px 1191px #1b2735, 1422px 611px #1b2735, 1718px 1964px #1b2735,
    411px 944px #1b2735, 210px 636px #1b2735, 1502px 1295px #1b2735, 1434px 349px #1b2735,
    769px 60px #1b2735, 747px 1053px #1b2735, 789px 504px #1b2735, 1436px 1264px #1b2735,
    1893px 1225px #1b2735, 1394px 1788px #1b2735, 1108px 1317px #1b2735,
    1673px 1395px #1b2735, 854px 1010px #1b2735, 1705px 80px #1b2735, 1858px 148px #1b2735,
    1729px 344px #1b2735, 1388px 664px #1b2735, 895px 406px #1b2735, 1479px 157px #1b2735,
    1441px 1157px #1b2735, 552px 1900px #1b2735, 516px 364px #1b2735, 1647px 189px #1b2735,
    1427px 1071px #1b2735, 785px 729px #1b2735, 1080px 1710px #1b2735, 504px 204px #1b2735,
    1177px 1622px #1b2735, 657px 34px #1b2735, 1296px 1099px #1b2735, 248px 180px #1b2735,
    1212px 1568px #1b2735, 667px 1562px #1b2735, 695px 841px #1b2735, 1608px 1247px #1b2735,
    751px 882px #1b2735, 87px 167px #1b2735, 607px 1368px #1b2735, 1363px 1203px #1b2735,
    1836px 317px #1b2735, 1668px 1703px #1b2735, 830px 1154px #1b2735, 1721px 1398px #1b2735,
    1601px 1280px #1b2735, 976px 874px #1b2735, 1743px 254px #1b2735, 1020px 1815px #1b2735,
    1670px 1766px #1b2735, 1890px 735px #1b2735, 1379px 136px #1b2735, 1864px 695px #1b2735,
    206px 965px #1b2735, 1404px 1932px #1b2735, 1923px 1360px #1b2735, 247px 682px #1b2735,
    519px 1708px #1b2735, 645px 750px #1b2735, 1164px 1204px #1b2735, 834px 323px #1b2735,
    172px 1350px #1b2735, 213px 972px #1b2735, 1837px 190px #1b2735, 285px 1806px #1b2735,
    1047px 1299px #1b2735, 1548px 825px #1b2735, 1730px 324px #1b2735, 1346px 1909px #1b2735,
    772px 270px #1b2735, 345px 1190px #1b2735, 478px 1433px #1b2735, 1479px 25px #1b2735,
    1994px 1830px #1b2735, 1744px 732px #1b2735, 20px 1635px #1b2735, 690px 1795px #1b2735,
    1594px 569px #1b2735, 579px 245px #1b2735, 1398px 733px #1b2735, 408px 1352px #1b2735,
    1774px 120px #1b2735, 1152px 1370px #1b2735, 1698px 1810px #1b2735, 710px 1450px #1b2735,
    665px 286px #1b2735, 493px 1720px #1b2735, 786px 5px #1b2735, 637px 1140px #1b2735,
    764px 324px #1b2735, 927px 310px #1b2735, 938px 1424px #1b2735, 1884px 744px #1b2735,
    913px 462px #1b2735, 1831px 1936px #1b2735, 1527px 249px #1b2735, 36px 1381px #1b2735,
    1597px 581px #1b2735, 1530px 355px #1b2735, 949px 459px #1b2735, 799px 828px #1b2735,
    242px 1471px #1b2735, 654px 797px #1b2735, 796px 594px #1b2735, 1365px 678px #1b2735,
    752px 23px #1b2735, 1630px 541px #1b2735, 982px 72px #1b2735, 1733px 1831px #1b2735,
    21px 412px #1b2735, 775px 998px #1b2735, 335px 1945px #1b2735, 264px 583px #1b2735,
    158px 1311px #1b2735, 528px 164px #1b2735, 1978px 574px #1b2735, 717px 1203px #1b2735,
    734px 1591px #1b2735, 1555px 820px #1b2735, 16px 1943px #1b2735, 1625px 1177px #1b2735,
    1236px 690px #1b2735, 1585px 1590px #1b2735, 1737px 1728px #1b2735, 721px 698px #1b2735,
    1804px 1186px #1b2735, 166px 980px #1b2735, 1850px 230px #1b2735, 330px 1712px #1b2735,
    95px 797px #1b2735, 1948px 1078px #1b2735, 469px 939px #1b2735, 1269px 1899px #1b2735,
    955px 1220px #1b2735, 1137px 1075px #1b2735, 312px 1293px #1b2735, 986px 1762px #1b2735,
    1103px 1238px #1b2735, 428px 1993px #1b2735, 355px 570px #1b2735, 977px 1836px #1b2735,
    1395px 1092px #1b2735, 276px 913px #1b2735, 1743px 656px #1b2735, 773px 502px #1b2735,
    1686px 1322px #1b2735, 1516px 1945px #1b2735, 1334px 501px #1b2735, 266px 156px #1b2735,
    455px 655px #1b2735, 798px 72px #1b2735, 1059px 1259px #1b2735, 1402px 1687px #1b2735,
    236px 1329px #1b2735, 1455px 786px #1b2735, 146px 1228px #1b2735, 1851px 823px #1b2735,
    1062px 100px #1b2735, 1220px 953px #1b2735, 20px 1826px #1b2735, 36px 1063px #1b2735,
    1525px 338px #1b2735, 790px 1521px #1b2735, 741px 1099px #1b2735, 288px 1489px #1b2735,
    700px 1060px #1b2735, 390px 1071px #1b2735, 411px 1036px #1b2735, 1853px 1072px #1b2735,
    1446px 1085px #1b2735, 1164px 874px #1b2735, 924px 925px #1b2735, 291px 271px #1b2735,
    1257px 1964px #1b2735, 1580px 1352px #1b2735, 1507px 1216px #1b2735, 211px 956px #1b2735,
    985px 1195px #1b2735, 975px 1640px #1b2735, 518px 101px #1b2735, 663px 1395px #1b2735,
    914px 532px #1b2735, 145px 1320px #1b2735, 69px 1397px #1b2735, 982px 523px #1b2735,
    257px 725px #1b2735, 1599px 831px #1b2735, 1636px 1513px #1b2735, 1250px 1158px #1b2735,
    1132px 604px #1b2735, 183px 102px #1b2735, 1057px 318px #1b2735, 1247px 1835px #1b2735,
    1983px 1110px #1b2735, 1077px 1455px #1b2735, 921px 1770px #1b2735, 806px 1350px #1b2735,
    1938px 1992px #1b2735, 855px 1260px #1b2735, 902px 1345px #1b2735, 658px 1908px #1b2735,
    1845px 679px #1b2735, 712px 1482px #1b2735, 595px 950px #1b2735, 1784px 1992px #1b2735,
    1847px 1785px #1b2735, 691px 1004px #1b2735, 175px 1179px #1b2735, 1666px 1911px #1b2735,
    41px 61px #1b2735, 971px 1080px #1b2735, 1830px 1450px #1b2735, 1351px 1518px #1b2735,
    1257px 99px #1b2735, 1395px 1498px #1b2735, 1117px 252px #1b2735, 1779px 597px #1b2735,
    1346px 729px #1b2735, 1108px 1144px #1b2735, 402px 691px #1b2735, 72px 496px #1b2735,
    1673px 1604px #1b2735, 1497px 974px #1b2735, 1865px 1664px #1b2735, 88px 806px #1b2735,
    918px 77px #1b2735, 244px 1118px #1b2735, 256px 1820px #1b2735, 1851px 1840px #1b2735,
    605px 1851px #1b2735, 634px 383px #1b2735, 865px 37px #1b2735, 943px 1024px #1b2735,
    1951px 177px #1b2735, 1097px 523px #1b2735, 985px 1700px #1b2735, 1243px 122px #1b2735,
    768px 1070px #1b2735, 468px 194px #1b2735, 320px 1867px #1b2735, 1850px 185px #1b2735,
    380px 1616px #1b2735, 468px 1294px #1b2735, 1122px 1743px #1b2735, 884px 299px #1b2735,
    1300px 1917px #1b2735, 1860px 396px #1b2735, 1270px 990px #1b2735, 529px 733px #1b2735,
    1975px 1347px #1b2735, 1885px 685px #1b2735, 226px 506px #1b2735, 651px 878px #1b2735,
    1323px 680px #1b2735, 1284px 680px #1b2735, 238px 1967px #1b2735, 911px 174px #1b2735,
    1111px 521px #1b2735, 1150px 85px #1b2735, 794px 502px #1b2735, 484px 1856px #1b2735,
    1809px 368px #1b2735, 112px 953px #1b2735, 590px 1009px #1b2735, 1655px 311px #1b2735,
    100px 1026px #1b2735, 1803px 352px #1b2735, 865px 306px #1b2735, 1077px 1019px #1b2735,
    1335px 872px #1b2735, 1647px 1298px #1b2735, 1233px 1387px #1b2735, 698px 1036px #1b2735,
    659px 1860px #1b2735, 388px 1412px #1b2735, 1212px 458px #1b2735, 755px 1468px #1b2735,
    696px 1654px #1b2735, 1144px 60px #1b2735;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #1b2735, 324px 42px #1b2735, 303px 586px #1b2735,
    1312px 276px #1b2735, 451px 625px #1b2735, 521px 1931px #1b2735, 1087px 1871px #1b2735,
    36px 1546px #1b2735, 132px 934px #1b2735, 1698px 901px #1b2735, 1418px 664px #1b2735,
    1448px 1157px #1b2735, 1084px 232px #1b2735, 347px 1776px #1b2735, 1722px 243px #1b2735,
    1629px 835px #1b2735, 479px 969px #1b2735, 1231px 960px #1b2735, 586px 384px #1b2735,
    164px 527px #1b2735, 8px 646px #1b2735, 1150px 1126px #1b2735, 665px 1357px #1b2735,
    1556px 1982px #1b2735, 1260px 1961px #1b2735, 1675px 1741px #1b2735,
    1843px 1514px #1b2735, 718px 1628px #1b2735, 242px 1343px #1b2735, 1497px 1880px #1b2735,
    1364px 230px #1b2735, 1739px 1302px #1b2735, 636px 959px #1b2735, 304px 686px #1b2735,
    614px 751px #1b2735, 1935px 816px #1b2735, 1428px 60px #1b2735, 355px 335px #1b2735,
    1594px 158px #1b2735, 90px 60px #1b2735, 1553px 162px #1b2735, 1239px 1825px #1b2735,
    1945px 587px #1b2735, 749px 1785px #1b2735, 1987px 1172px #1b2735, 1301px 1237px #1b2735,
    1039px 342px #1b2735, 1585px 1481px #1b2735, 995px 1048px #1b2735, 524px 932px #1b2735,
    214px 413px #1b2735, 1701px 1300px #1b2735, 1037px 1613px #1b2735, 1871px 996px #1b2735,
    1360px 1635px #1b2735, 1110px 1313px #1b2735, 412px 1783px #1b2735, 1949px 177px #1b2735,
    903px 1854px #1b2735, 700px 1936px #1b2735, 378px 125px #1b2735, 308px 834px #1b2735,
    1118px 962px #1b2735, 1350px 1929px #1b2735, 781px 1811px #1b2735, 561px 137px #1b2735,
    757px 1148px #1b2735, 1670px 1979px #1b2735, 343px 739px #1b2735, 945px 795px #1b2735,
    576px 1903px #1b2735, 1078px 1436px #1b2735, 1583px 450px #1b2735, 1366px 474px #1b2735,
    297px 1873px #1b2735, 192px 162px #1b2735, 1624px 1633px #1b2735, 59px 453px #1b2735,
    82px 1872px #1b2735, 1933px 498px #1b2735, 1966px 1974px #1b2735, 1975px 1688px #1b2735,
    779px 314px #1b2735, 1858px 1543px #1b2735, 73px 1507px #1b2735, 1693px 975px #1b2735,
    1683px 108px #1b2735, 1768px 1654px #1b2735, 654px 14px #1b2735, 494px 171px #1b2735,
    1689px 1895px #1b2735, 1660px 263px #1b2735, 1031px 903px #1b2735, 1203px 1393px #1b2735,
    1333px 1421px #1b2735, 1113px 41px #1b2735, 1206px 1645px #1b2735, 1325px 1635px #1b2735,
    142px 388px #1b2735, 572px 215px #1b2735, 1535px 296px #1b2735, 1419px 407px #1b2735,
    1379px 1003px #1b2735, 329px 469px #1b2735, 1791px 1652px #1b2735, 935px 1802px #1b2735,
    1330px 1820px #1b2735, 421px 1933px #1b2735, 828px 365px #1b2735, 275px 316px #1b2735,
    707px 960px #1b2735, 1605px 1554px #1b2735, 625px 58px #1b2735, 717px 1697px #1b2735,
    1669px 246px #1b2735, 1925px 322px #1b2735, 1154px 1803px #1b2735, 1929px 295px #1b2735,
    1248px 240px #1b2735, 1045px 1755px #1b2735, 166px 942px #1b2735, 1888px 1773px #1b2735,
    678px 1963px #1b2735, 1370px 569px #1b2735, 1974px 1400px #1b2735, 1786px 460px #1b2735,
    51px 307px #1b2735, 784px 1400px #1b2735, 730px 1258px #1b2735, 1712px 393px #1b2735,
    416px 170px #1b2735, 1797px 1932px #1b2735, 572px 219px #1b2735, 1557px 1856px #1b2735,
    218px 8px #1b2735, 348px 1334px #1b2735, 469px 413px #1b2735, 385px 1738px #1b2735,
    1357px 1818px #1b2735, 240px 942px #1b2735, 248px 1847px #1b2735, 1535px 806px #1b2735,
    236px 1514px #1b2735, 1429px 1556px #1b2735, 73px 1633px #1b2735, 1398px 1121px #1b2735,
    671px 1301px #1b2735, 1404px 1663px #1b2735, 740px 1018px #1b2735, 1600px 377px #1b2735,
    785px 514px #1b2735, 112px 1084px #1b2735, 1915px 1887px #1b2735, 1463px 1848px #1b2735,
    687px 1115px #1b2735, 1268px 1768px #1b2735, 1729px 1425px #1b2735,
    1284px 1022px #1b2735, 801px 974px #1b2735, 1975px 1317px #1b2735, 1354px 834px #1b2735,
    1446px 1484px #1b2735, 1283px 1786px #1b2735, 11px 523px #1b2735, 1842px 236px #1b2735,
    1355px 654px #1b2735, 429px 7px #1b2735, 1033px 1128px #1b2735, 157px 297px #1b2735,
    545px 635px #1b2735, 52px 1080px #1b2735, 827px 1520px #1b2735, 1121px 490px #1b2735,
    9px 309px #1b2735, 1744px 1586px #1b2735, 1014px 417px #1b2735, 1534px 524px #1b2735,
    958px 552px #1b2735, 1403px 1496px #1b2735, 387px 703px #1b2735, 1522px 548px #1b2735,
    1355px 282px #1b2735, 1532px 601px #1b2735, 1838px 790px #1b2735, 290px 259px #1b2735,
    295px 598px #1b2735, 1601px 539px #1b2735, 1561px 1272px #1b2735, 34px 1922px #1b2735,
    1024px 543px #1b2735, 467px 369px #1b2735, 722px 333px #1b2735, 1976px 1255px #1b2735,
    766px 983px #1b2735, 1582px 1285px #1b2735, 12px 512px #1b2735, 617px 1410px #1b2735,
    682px 577px #1b2735, 1334px 1438px #1b2735, 439px 327px #1b2735, 1617px 1661px #1b2735,
    673px 129px #1b2735, 794px 941px #1b2735, 1386px 1902px #1b2735, 37px 1353px #1b2735,
    1467px 1353px #1b2735, 416px 18px #1b2735, 187px 344px #1b2735, 200px 1898px #1b2735,
    1491px 1619px #1b2735, 811px 347px #1b2735, 924px 1827px #1b2735, 945px 217px #1b2735,
    1735px 1228px #1b2735, 379px 1890px #1b2735, 79px 761px #1b2735, 825px 1837px #1b2735,
    1980px 1558px #1b2735, 1308px 1573px #1b2735, 1488px 1726px #1b2735,
    382px 1208px #1b2735, 522px 595px #1b2735, 1277px 1898px #1b2735, 354px 552px #1b2735,
    161px 1784px #1b2735, 614px 251px #1b2735, 526px 1576px #1b2735, 17px 212px #1b2735,
    179px 996px #1b2735, 467px 1208px #1b2735, 1944px 1838px #1b2735, 1140px 1093px #1b2735,
    858px 1007px #1b2735, 200px 1064px #1b2735, 423px 1964px #1b2735, 1945px 439px #1b2735,
    1377px 689px #1b2735, 1120px 1437px #1b2735, 1876px 668px #1b2735, 907px 1324px #1b2735,
    343px 1976px #1b2735, 1816px 1501px #1b2735, 1849px 177px #1b2735, 647px 91px #1b2735,
    1984px 1012px #1b2735, 1336px 1300px #1b2735, 128px 648px #1b2735, 305px 1060px #1b2735,
    1324px 826px #1b2735, 1263px 1314px #1b2735, 1801px 629px #1b2735, 1614px 1555px #1b2735,
    1634px 90px #1b2735, 1603px 452px #1b2735, 891px 1984px #1b2735, 1556px 1906px #1b2735,
    121px 68px #1b2735, 1676px 1714px #1b2735, 516px 936px #1b2735, 1947px 1492px #1b2735,
    1455px 1519px #1b2735, 45px 602px #1b2735, 205px 1039px #1b2735, 793px 172px #1b2735,
    1562px 1739px #1b2735, 1056px 110px #1b2735, 1512px 379px #1b2735, 1795px 1621px #1b2735,
    1848px 607px #1b2735, 262px 1719px #1b2735, 477px 991px #1b2735, 483px 883px #1b2735,
    1239px 1197px #1b2735, 1496px 647px #1b2735, 1649px 25px #1b2735, 1491px 1946px #1b2735,
    119px 996px #1b2735, 179px 1472px #1b2735, 1341px 808px #1b2735, 1565px 1700px #1b2735,
    407px 1544px #1b2735, 1754px 357px #1b2735, 1288px 981px #1b2735, 902px 1997px #1b2735,
    1755px 1668px #1b2735, 186px 877px #1b2735, 1202px 1882px #1b2735, 461px 1213px #1b2735,
    1400px 748px #1b2735, 1969px 1899px #1b2735, 809px 522px #1b2735, 514px 1219px #1b2735,
    374px 275px #1b2735, 938px 1973px #1b2735, 357px 552px #1b2735, 144px 1722px #1b2735,
    1572px 912px #1b2735, 402px 1858px #1b2735, 1544px 1195px #1b2735, 667px 1257px #1b2735,
    727px 1496px #1b2735, 993px 232px #1b2735, 1772px 313px #1b2735, 1040px 1590px #1b2735,
    1204px 1973px #1b2735, 1268px 79px #1b2735, 1555px 1048px #1b2735, 986px 1707px #1b2735,
    978px 1710px #1b2735, 713px 360px #1b2735, 407px 863px #1b2735, 461px 736px #1b2735,
    284px 1608px #1b2735, 103px 430px #1b2735, 1283px 1319px #1b2735, 977px 1186px #1b2735,
    1966px 1516px #1b2735, 1287px 1129px #1b2735, 70px 1098px #1b2735, 1189px 889px #1b2735,
    1126px 1734px #1b2735, 309px 1292px #1b2735, 879px 764px #1b2735, 65px 473px #1b2735,
    1003px 1959px #1b2735, 658px 791px #1b2735, 402px 1576px #1b2735, 35px 622px #1b2735,
    529px 1589px #1b2735, 164px 666px #1b2735, 1876px 1290px #1b2735, 1541px 526px #1b2735,
    270px 1297px #1b2735, 440px 865px #1b2735, 1500px 802px #1b2735, 182px 1754px #1b2735,
    1264px 892px #1b2735, 272px 1249px #1b2735, 1289px 1535px #1b2735, 190px 1646px #1b2735,
    955px 242px #1b2735, 1456px 1597px #1b2735, 1727px 1983px #1b2735, 635px 801px #1b2735,
    226px 455px #1b2735, 1396px 1710px #1b2735, 849px 1863px #1b2735, 237px 1264px #1b2735,
    839px 140px #1b2735, 1122px 735px #1b2735, 1280px 15px #1b2735, 1318px 242px #1b2735,
    1819px 1148px #1b2735, 333px 1392px #1b2735, 1949px 553px #1b2735, 1878px 1332px #1b2735,
    467px 548px #1b2735, 1812px 1082px #1b2735, 1067px 193px #1b2735, 243px 156px #1b2735,
    483px 1616px #1b2735, 1714px 933px #1b2735, 759px 1800px #1b2735, 1822px 995px #1b2735,
    1877px 572px #1b2735, 581px 1084px #1b2735, 107px 732px #1b2735, 642px 1837px #1b2735,
    166px 1493px #1b2735, 1555px 198px #1b2735, 819px 307px #1b2735, 947px 345px #1b2735,
    827px 224px #1b2735, 927px 1394px #1b2735, 540px 467px #1b2735, 1093px 405px #1b2735,
    1140px 927px #1b2735, 130px 529px #1b2735, 33px 1980px #1b2735, 1147px 1663px #1b2735,
    1616px 1436px #1b2735, 528px 710px #1b2735, 798px 1100px #1b2735, 505px 1480px #1b2735,
    899px 641px #1b2735, 1909px 1949px #1b2735, 1311px 964px #1b2735, 979px 1301px #1b2735,
    1393px 969px #1b2735, 1793px 1886px #1b2735, 292px 357px #1b2735, 1196px 1718px #1b2735,
    1290px 1994px #1b2735, 537px 1973px #1b2735, 1181px 1674px #1b2735,
    1740px 1566px #1b2735, 1307px 265px #1b2735, 922px 522px #1b2735, 1892px 472px #1b2735,
    384px 1746px #1b2735, 392px 1098px #1b2735, 647px 548px #1b2735, 390px 1498px #1b2735,
    1246px 138px #1b2735, 730px 876px #1b2735, 192px 1472px #1b2735, 1790px 1789px #1b2735,
    928px 311px #1b2735, 1253px 1647px #1b2735, 747px 1921px #1b2735, 1561px 1025px #1b2735,
    1533px 1292px #1b2735, 1985px 195px #1b2735, 728px 729px #1b2735, 1712px 1936px #1b2735,
    512px 1717px #1b2735, 1528px 483px #1b2735, 313px 1642px #1b2735, 281px 1849px #1b2735,
    1212px 799px #1b2735, 435px 1191px #1b2735, 1422px 611px #1b2735, 1718px 1964px #1b2735,
    411px 944px #1b2735, 210px 636px #1b2735, 1502px 1295px #1b2735, 1434px 349px #1b2735,
    769px 60px #1b2735, 747px 1053px #1b2735, 789px 504px #1b2735, 1436px 1264px #1b2735,
    1893px 1225px #1b2735, 1394px 1788px #1b2735, 1108px 1317px #1b2735,
    1673px 1395px #1b2735, 854px 1010px #1b2735, 1705px 80px #1b2735, 1858px 148px #1b2735,
    1729px 344px #1b2735, 1388px 664px #1b2735, 895px 406px #1b2735, 1479px 157px #1b2735,
    1441px 1157px #1b2735, 552px 1900px #1b2735, 516px 364px #1b2735, 1647px 189px #1b2735,
    1427px 1071px #1b2735, 785px 729px #1b2735, 1080px 1710px #1b2735, 504px 204px #1b2735,
    1177px 1622px #1b2735, 657px 34px #1b2735, 1296px 1099px #1b2735, 248px 180px #1b2735,
    1212px 1568px #1b2735, 667px 1562px #1b2735, 695px 841px #1b2735, 1608px 1247px #1b2735,
    751px 882px #1b2735, 87px 167px #1b2735, 607px 1368px #1b2735, 1363px 1203px #1b2735,
    1836px 317px #1b2735, 1668px 1703px #1b2735, 830px 1154px #1b2735, 1721px 1398px #1b2735,
    1601px 1280px #1b2735, 976px 874px #1b2735, 1743px 254px #1b2735, 1020px 1815px #1b2735,
    1670px 1766px #1b2735, 1890px 735px #1b2735, 1379px 136px #1b2735, 1864px 695px #1b2735,
    206px 965px #1b2735, 1404px 1932px #1b2735, 1923px 1360px #1b2735, 247px 682px #1b2735,
    519px 1708px #1b2735, 645px 750px #1b2735, 1164px 1204px #1b2735, 834px 323px #1b2735,
    172px 1350px #1b2735, 213px 972px #1b2735, 1837px 190px #1b2735, 285px 1806px #1b2735,
    1047px 1299px #1b2735, 1548px 825px #1b2735, 1730px 324px #1b2735, 1346px 1909px #1b2735,
    772px 270px #1b2735, 345px 1190px #1b2735, 478px 1433px #1b2735, 1479px 25px #1b2735,
    1994px 1830px #1b2735, 1744px 732px #1b2735, 20px 1635px #1b2735, 690px 1795px #1b2735,
    1594px 569px #1b2735, 579px 245px #1b2735, 1398px 733px #1b2735, 408px 1352px #1b2735,
    1774px 120px #1b2735, 1152px 1370px #1b2735, 1698px 1810px #1b2735, 710px 1450px #1b2735,
    665px 286px #1b2735, 493px 1720px #1b2735, 786px 5px #1b2735, 637px 1140px #1b2735,
    764px 324px #1b2735, 927px 310px #1b2735, 938px 1424px #1b2735, 1884px 744px #1b2735,
    913px 462px #1b2735, 1831px 1936px #1b2735, 1527px 249px #1b2735, 36px 1381px #1b2735,
    1597px 581px #1b2735, 1530px 355px #1b2735, 949px 459px #1b2735, 799px 828px #1b2735,
    242px 1471px #1b2735, 654px 797px #1b2735, 796px 594px #1b2735, 1365px 678px #1b2735,
    752px 23px #1b2735, 1630px 541px #1b2735, 982px 72px #1b2735, 1733px 1831px #1b2735,
    21px 412px #1b2735, 775px 998px #1b2735, 335px 1945px #1b2735, 264px 583px #1b2735,
    158px 1311px #1b2735, 528px 164px #1b2735, 1978px 574px #1b2735, 717px 1203px #1b2735,
    734px 1591px #1b2735, 1555px 820px #1b2735, 16px 1943px #1b2735, 1625px 1177px #1b2735,
    1236px 690px #1b2735, 1585px 1590px #1b2735, 1737px 1728px #1b2735, 721px 698px #1b2735,
    1804px 1186px #1b2735, 166px 980px #1b2735, 1850px 230px #1b2735, 330px 1712px #1b2735,
    95px 797px #1b2735, 1948px 1078px #1b2735, 469px 939px #1b2735, 1269px 1899px #1b2735,
    955px 1220px #1b2735, 1137px 1075px #1b2735, 312px 1293px #1b2735, 986px 1762px #1b2735,
    1103px 1238px #1b2735, 428px 1993px #1b2735, 355px 570px #1b2735, 977px 1836px #1b2735,
    1395px 1092px #1b2735, 276px 913px #1b2735, 1743px 656px #1b2735, 773px 502px #1b2735,
    1686px 1322px #1b2735, 1516px 1945px #1b2735, 1334px 501px #1b2735, 266px 156px #1b2735,
    455px 655px #1b2735, 798px 72px #1b2735, 1059px 1259px #1b2735, 1402px 1687px #1b2735,
    236px 1329px #1b2735, 1455px 786px #1b2735, 146px 1228px #1b2735, 1851px 823px #1b2735,
    1062px 100px #1b2735, 1220px 953px #1b2735, 20px 1826px #1b2735, 36px 1063px #1b2735,
    1525px 338px #1b2735, 790px 1521px #1b2735, 741px 1099px #1b2735, 288px 1489px #1b2735,
    700px 1060px #1b2735, 390px 1071px #1b2735, 411px 1036px #1b2735, 1853px 1072px #1b2735,
    1446px 1085px #1b2735, 1164px 874px #1b2735, 924px 925px #1b2735, 291px 271px #1b2735,
    1257px 1964px #1b2735, 1580px 1352px #1b2735, 1507px 1216px #1b2735, 211px 956px #1b2735,
    985px 1195px #1b2735, 975px 1640px #1b2735, 518px 101px #1b2735, 663px 1395px #1b2735,
    914px 532px #1b2735, 145px 1320px #1b2735, 69px 1397px #1b2735, 982px 523px #1b2735,
    257px 725px #1b2735, 1599px 831px #1b2735, 1636px 1513px #1b2735, 1250px 1158px #1b2735,
    1132px 604px #1b2735, 183px 102px #1b2735, 1057px 318px #1b2735, 1247px 1835px #1b2735,
    1983px 1110px #1b2735, 1077px 1455px #1b2735, 921px 1770px #1b2735, 806px 1350px #1b2735,
    1938px 1992px #1b2735, 855px 1260px #1b2735, 902px 1345px #1b2735, 658px 1908px #1b2735,
    1845px 679px #1b2735, 712px 1482px #1b2735, 595px 950px #1b2735, 1784px 1992px #1b2735,
    1847px 1785px #1b2735, 691px 1004px #1b2735, 175px 1179px #1b2735, 1666px 1911px #1b2735,
    41px 61px #1b2735, 971px 1080px #1b2735, 1830px 1450px #1b2735, 1351px 1518px #1b2735,
    1257px 99px #1b2735, 1395px 1498px #1b2735, 1117px 252px #1b2735, 1779px 597px #1b2735,
    1346px 729px #1b2735, 1108px 1144px #1b2735, 402px 691px #1b2735, 72px 496px #1b2735,
    1673px 1604px #1b2735, 1497px 974px #1b2735, 1865px 1664px #1b2735, 88px 806px #1b2735,
    918px 77px #1b2735, 244px 1118px #1b2735, 256px 1820px #1b2735, 1851px 1840px #1b2735,
    605px 1851px #1b2735, 634px 383px #1b2735, 865px 37px #1b2735, 943px 1024px #1b2735,
    1951px 177px #1b2735, 1097px 523px #1b2735, 985px 1700px #1b2735, 1243px 122px #1b2735,
    768px 1070px #1b2735, 468px 194px #1b2735, 320px 1867px #1b2735, 1850px 185px #1b2735,
    380px 1616px #1b2735, 468px 1294px #1b2735, 1122px 1743px #1b2735, 884px 299px #1b2735,
    1300px 1917px #1b2735, 1860px 396px #1b2735, 1270px 990px #1b2735, 529px 733px #1b2735,
    1975px 1347px #1b2735, 1885px 685px #1b2735, 226px 506px #1b2735, 651px 878px #1b2735,
    1323px 680px #1b2735, 1284px 680px #1b2735, 238px 1967px #1b2735, 911px 174px #1b2735,
    1111px 521px #1b2735, 1150px 85px #1b2735, 794px 502px #1b2735, 484px 1856px #1b2735,
    1809px 368px #1b2735, 112px 953px #1b2735, 590px 1009px #1b2735, 1655px 311px #1b2735,
    100px 1026px #1b2735, 1803px 352px #1b2735, 865px 306px #1b2735, 1077px 1019px #1b2735,
    1335px 872px #1b2735, 1647px 1298px #1b2735, 1233px 1387px #1b2735, 698px 1036px #1b2735,
    659px 1860px #1b2735, 388px 1412px #1b2735, 1212px 458px #1b2735, 755px 1468px #1b2735,
    696px 1654px #1b2735, 1144px 60px #1b2735;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #1b2735, 1775px 1663px #1b2735, 332px 1364px #1b2735,
    878px 340px #1b2735, 569px 1832px #1b2735, 1422px 1684px #1b2735, 1946px 1907px #1b2735,
    121px 979px #1b2735, 1044px 1069px #1b2735, 463px 381px #1b2735, 423px 112px #1b2735,
    523px 1179px #1b2735, 779px 654px #1b2735, 1398px 694px #1b2735, 1085px 1464px #1b2735,
    1599px 1869px #1b2735, 801px 1882px #1b2735, 779px 1231px #1b2735, 552px 932px #1b2735,
    1057px 1196px #1b2735, 282px 1280px #1b2735, 496px 1986px #1b2735, 1833px 1120px #1b2735,
    1802px 1293px #1b2735, 6px 1696px #1b2735, 412px 1902px #1b2735, 605px 438px #1b2735,
    24px 1212px #1b2735, 234px 1320px #1b2735, 544px 344px #1b2735, 1107px 170px #1b2735,
    1603px 196px #1b2735, 905px 648px #1b2735, 68px 1458px #1b2735, 649px 1969px #1b2735,
    744px 675px #1b2735, 1127px 478px #1b2735, 714px 1814px #1b2735, 1486px 526px #1b2735,
    270px 1636px #1b2735, 1931px 149px #1b2735, 1807px 378px #1b2735, 8px 390px #1b2735,
    1415px 699px #1b2735, 1473px 1211px #1b2735, 1590px 141px #1b2735, 270px 1705px #1b2735,
    69px 1423px #1b2735, 1108px 1053px #1b2735, 1946px 128px #1b2735, 371px 371px #1b2735,
    1490px 220px #1b2735, 357px 1885px #1b2735, 363px 363px #1b2735, 1896px 1256px #1b2735,
    1979px 1050px #1b2735, 947px 1342px #1b2735, 1754px 242px #1b2735, 514px 974px #1b2735,
    65px 1477px #1b2735, 1840px 547px #1b2735, 950px 695px #1b2735, 459px 1150px #1b2735,
    1124px 1502px #1b2735, 481px 940px #1b2735, 680px 839px #1b2735, 797px 1169px #1b2735,
    1977px 1491px #1b2735, 734px 1724px #1b2735, 210px 298px #1b2735, 816px 628px #1b2735,
    686px 770px #1b2735, 1721px 267px #1b2735, 1663px 511px #1b2735, 1481px 1141px #1b2735,
    582px 248px #1b2735, 1308px 953px #1b2735, 628px 657px #1b2735, 897px 1535px #1b2735,
    270px 931px #1b2735, 791px 467px #1b2735, 1336px 1732px #1b2735, 1013px 1653px #1b2735,
    1911px 956px #1b2735, 587px 816px #1b2735, 83px 456px #1b2735, 930px 1478px #1b2735,
    1587px 1694px #1b2735, 614px 1200px #1b2735, 302px 1782px #1b2735, 1711px 1432px #1b2735,
    443px 904px #1b2735, 1666px 714px #1b2735, 1588px 1167px #1b2735, 273px 1075px #1b2735,
    1679px 461px #1b2735, 721px 664px #1b2735, 1202px 10px #1b2735, 166px 1126px #1b2735,
    331px 1628px #1b2735, 430px 1565px #1b2735, 1585px 509px #1b2735, 640px 38px #1b2735,
    822px 837px #1b2735, 1760px 1664px #1b2735, 1122px 1458px #1b2735, 398px 131px #1b2735,
    689px 285px #1b2735, 460px 652px #1b2735, 1627px 365px #1b2735, 348px 1648px #1b2735,
    819px 1946px #1b2735, 981px 1917px #1b2735, 323px 76px #1b2735, 979px 684px #1b2735,
    887px 536px #1b2735, 1348px 1596px #1b2735, 1055px 666px #1b2735, 1402px 1797px #1b2735,
    1300px 1055px #1b2735, 937px 238px #1b2735, 1474px 1815px #1b2735, 1144px 1710px #1b2735,
    1629px 1087px #1b2735, 911px 919px #1b2735, 771px 819px #1b2735, 403px 720px #1b2735,
    163px 736px #1b2735, 1062px 238px #1b2735, 1774px 818px #1b2735, 1874px 1178px #1b2735,
    1177px 699px #1b2735, 1244px 1244px #1b2735, 1371px 58px #1b2735, 564px 1515px #1b2735,
    1824px 487px #1b2735, 929px 702px #1b2735, 394px 1348px #1b2735, 1161px 641px #1b2735,
    219px 1841px #1b2735, 358px 941px #1b2735, 140px 1759px #1b2735, 1019px 1345px #1b2735,
    274px 436px #1b2735, 1433px 1605px #1b2735, 1798px 1426px #1b2735, 294px 1848px #1b2735,
    1681px 1877px #1b2735, 1344px 1824px #1b2735, 1439px 1632px #1b2735,
    161px 1012px #1b2735, 1308px 588px #1b2735, 1789px 582px #1b2735, 721px 1910px #1b2735,
    318px 218px #1b2735, 607px 319px #1b2735, 495px 535px #1b2735, 1552px 1575px #1b2735,
    1562px 67px #1b2735, 403px 926px #1b2735, 1096px 1800px #1b2735, 1814px 1709px #1b2735,
    1882px 1831px #1b2735, 533px 46px #1b2735, 823px 969px #1b2735, 530px 165px #1b2735,
    1030px 352px #1b2735, 1681px 313px #1b2735, 338px 115px #1b2735, 1607px 211px #1b2735,
    1718px 1184px #1b2735, 1589px 659px #1b2735, 278px 355px #1b2735, 464px 1464px #1b2735,
    1165px 277px #1b2735, 950px 694px #1b2735, 1746px 293px #1b2735, 793px 911px #1b2735,
    528px 773px #1b2735, 1883px 1694px #1b2735, 748px 182px #1b2735, 1924px 1531px #1b2735,
    100px 636px #1b2735, 1473px 1445px #1b2735, 1264px 1244px #1b2735, 850px 1377px #1b2735,
    987px 1976px #1b2735, 933px 1761px #1b2735, 922px 1270px #1b2735, 500px 396px #1b2735,
    1324px 8px #1b2735, 1967px 1814px #1b2735, 1072px 1401px #1b2735, 961px 37px #1b2735,
    156px 81px #1b2735, 1915px 502px #1b2735, 1076px 1846px #1b2735, 152px 1669px #1b2735,
    986px 1529px #1b2735, 1667px 1137px #1b2735;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #1b2735, 1775px 1663px #1b2735, 332px 1364px #1b2735,
    878px 340px #1b2735, 569px 1832px #1b2735, 1422px 1684px #1b2735, 1946px 1907px #1b2735,
    121px 979px #1b2735, 1044px 1069px #1b2735, 463px 381px #1b2735, 423px 112px #1b2735,
    523px 1179px #1b2735, 779px 654px #1b2735, 1398px 694px #1b2735, 1085px 1464px #1b2735,
    1599px 1869px #1b2735, 801px 1882px #1b2735, 779px 1231px #1b2735, 552px 932px #1b2735,
    1057px 1196px #1b2735, 282px 1280px #1b2735, 496px 1986px #1b2735, 1833px 1120px #1b2735,
    1802px 1293px #1b2735, 6px 1696px #1b2735, 412px 1902px #1b2735, 605px 438px #1b2735,
    24px 1212px #1b2735, 234px 1320px #1b2735, 544px 344px #1b2735, 1107px 170px #1b2735,
    1603px 196px #1b2735, 905px 648px #1b2735, 68px 1458px #1b2735, 649px 1969px #1b2735,
    744px 675px #1b2735, 1127px 478px #1b2735, 714px 1814px #1b2735, 1486px 526px #1b2735,
    270px 1636px #1b2735, 1931px 149px #1b2735, 1807px 378px #1b2735, 8px 390px #1b2735,
    1415px 699px #1b2735, 1473px 1211px #1b2735, 1590px 141px #1b2735, 270px 1705px #1b2735,
    69px 1423px #1b2735, 1108px 1053px #1b2735, 1946px 128px #1b2735, 371px 371px #1b2735,
    1490px 220px #1b2735, 357px 1885px #1b2735, 363px 363px #1b2735, 1896px 1256px #1b2735,
    1979px 1050px #1b2735, 947px 1342px #1b2735, 1754px 242px #1b2735, 514px 974px #1b2735,
    65px 1477px #1b2735, 1840px 547px #1b2735, 950px 695px #1b2735, 459px 1150px #1b2735,
    1124px 1502px #1b2735, 481px 940px #1b2735, 680px 839px #1b2735, 797px 1169px #1b2735,
    1977px 1491px #1b2735, 734px 1724px #1b2735, 210px 298px #1b2735, 816px 628px #1b2735,
    686px 770px #1b2735, 1721px 267px #1b2735, 1663px 511px #1b2735, 1481px 1141px #1b2735,
    582px 248px #1b2735, 1308px 953px #1b2735, 628px 657px #1b2735, 897px 1535px #1b2735,
    270px 931px #1b2735, 791px 467px #1b2735, 1336px 1732px #1b2735, 1013px 1653px #1b2735,
    1911px 956px #1b2735, 587px 816px #1b2735, 83px 456px #1b2735, 930px 1478px #1b2735,
    1587px 1694px #1b2735, 614px 1200px #1b2735, 302px 1782px #1b2735, 1711px 1432px #1b2735,
    443px 904px #1b2735, 1666px 714px #1b2735, 1588px 1167px #1b2735, 273px 1075px #1b2735,
    1679px 461px #1b2735, 721px 664px #1b2735, 1202px 10px #1b2735, 166px 1126px #1b2735,
    331px 1628px #1b2735, 430px 1565px #1b2735, 1585px 509px #1b2735, 640px 38px #1b2735,
    822px 837px #1b2735, 1760px 1664px #1b2735, 1122px 1458px #1b2735, 398px 131px #1b2735,
    689px 285px #1b2735, 460px 652px #1b2735, 1627px 365px #1b2735, 348px 1648px #1b2735,
    819px 1946px #1b2735, 981px 1917px #1b2735, 323px 76px #1b2735, 979px 684px #1b2735,
    887px 536px #1b2735, 1348px 1596px #1b2735, 1055px 666px #1b2735, 1402px 1797px #1b2735,
    1300px 1055px #1b2735, 937px 238px #1b2735, 1474px 1815px #1b2735, 1144px 1710px #1b2735,
    1629px 1087px #1b2735, 911px 919px #1b2735, 771px 819px #1b2735, 403px 720px #1b2735,
    163px 736px #1b2735, 1062px 238px #1b2735, 1774px 818px #1b2735, 1874px 1178px #1b2735,
    1177px 699px #1b2735, 1244px 1244px #1b2735, 1371px 58px #1b2735, 564px 1515px #1b2735,
    1824px 487px #1b2735, 929px 702px #1b2735, 394px 1348px #1b2735, 1161px 641px #1b2735,
    219px 1841px #1b2735, 358px 941px #1b2735, 140px 1759px #1b2735, 1019px 1345px #1b2735,
    274px 436px #1b2735, 1433px 1605px #1b2735, 1798px 1426px #1b2735, 294px 1848px #1b2735,
    1681px 1877px #1b2735, 1344px 1824px #1b2735, 1439px 1632px #1b2735,
    161px 1012px #1b2735, 1308px 588px #1b2735, 1789px 582px #1b2735, 721px 1910px #1b2735,
    318px 218px #1b2735, 607px 319px #1b2735, 495px 535px #1b2735, 1552px 1575px #1b2735,
    1562px 67px #1b2735, 403px 926px #1b2735, 1096px 1800px #1b2735, 1814px 1709px #1b2735,
    1882px 1831px #1b2735, 533px 46px #1b2735, 823px 969px #1b2735, 530px 165px #1b2735,
    1030px 352px #1b2735, 1681px 313px #1b2735, 338px 115px #1b2735, 1607px 211px #1b2735,
    1718px 1184px #1b2735, 1589px 659px #1b2735, 278px 355px #1b2735, 464px 1464px #1b2735,
    1165px 277px #1b2735, 950px 694px #1b2735, 1746px 293px #1b2735, 793px 911px #1b2735,
    528px 773px #1b2735, 1883px 1694px #1b2735, 748px 182px #1b2735, 1924px 1531px #1b2735,
    100px 636px #1b2735, 1473px 1445px #1b2735, 1264px 1244px #1b2735, 850px 1377px #1b2735,
    987px 1976px #1b2735, 933px 1761px #1b2735, 922px 1270px #1b2735, 500px 396px #1b2735,
    1324px 8px #1b2735, 1967px 1814px #1b2735, 1072px 1401px #1b2735, 961px 37px #1b2735,
    156px 81px #1b2735, 1915px 502px #1b2735, 1076px 1846px #1b2735, 152px 1669px #1b2735,
    986px 1529px #1b2735, 1667px 1137px #1b2735;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #1b2735, 760px 1564px #1b2735, 1487px 999px #1b2735,
    948px 1828px #1b2735, 1977px 1001px #1b2735, 1284px 1963px #1b2735, 656px 284px #1b2735,
    1268px 1635px #1b2735, 1820px 598px #1b2735, 642px 1900px #1b2735, 296px 57px #1b2735,
    921px 1620px #1b2735, 476px 1858px #1b2735, 658px 613px #1b2735, 1171px 1363px #1b2735,
    1419px 283px #1b2735, 1037px 731px #1b2735, 503px 663px #1b2735, 1562px 463px #1b2735,
    383px 1197px #1b2735, 1171px 1233px #1b2735, 876px 1768px #1b2735, 856px 1615px #1b2735,
    1375px 1924px #1b2735, 1725px 918px #1b2735, 952px 119px #1b2735, 768px 1212px #1b2735,
    992px 1462px #1b2735, 1929px 717px #1b2735, 1947px 755px #1b2735, 1818px 1123px #1b2735,
    1896px 1672px #1b2735, 460px 198px #1b2735, 256px 271px #1b2735, 752px 544px #1b2735,
    1222px 1859px #1b2735, 1851px 443px #1b2735, 313px 1858px #1b2735, 709px 446px #1b2735,
    1546px 697px #1b2735, 674px 1155px #1b2735, 1112px 130px #1b2735, 355px 1790px #1b2735,
    1496px 974px #1b2735, 1696px 480px #1b2735, 1316px 1265px #1b2735, 1645px 1063px #1b2735,
    1182px 237px #1b2735, 427px 1582px #1b2735, 859px 253px #1b2735, 458px 939px #1b2735,
    1517px 1644px #1b2735, 1943px 60px #1b2735, 212px 1650px #1b2735, 966px 1786px #1b2735,
    473px 712px #1b2735, 130px 76px #1b2735, 1417px 1186px #1b2735, 909px 1580px #1b2735,
    1913px 762px #1b2735, 204px 1143px #1b2735, 1998px 1057px #1b2735, 1468px 1301px #1b2735,
    144px 1676px #1b2735, 21px 1601px #1b2735, 382px 1362px #1b2735, 912px 753px #1b2735,
    1488px 1405px #1b2735, 802px 156px #1b2735, 174px 550px #1b2735, 338px 1366px #1b2735,
    1197px 774px #1b2735, 602px 486px #1b2735, 682px 1877px #1b2735, 348px 1503px #1b2735,
    407px 1139px #1b2735, 950px 1400px #1b2735, 922px 1139px #1b2735, 1697px 293px #1b2735,
    1238px 1281px #1b2735, 1038px 1197px #1b2735, 376px 1889px #1b2735,
    1255px 1680px #1b2735, 1008px 1316px #1b2735, 1538px 1447px #1b2735,
    1186px 874px #1b2735, 1967px 640px #1b2735, 1341px 19px #1b2735, 29px 1732px #1b2735,
    16px 1650px #1b2735, 1021px 1075px #1b2735, 723px 424px #1b2735, 1175px 41px #1b2735,
    494px 1957px #1b2735, 1296px 431px #1b2735, 175px 1507px #1b2735, 831px 121px #1b2735,
    498px 1947px #1b2735, 617px 880px #1b2735, 240px 403px #1b2735;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #1b2735, 760px 1564px #1b2735, 1487px 999px #1b2735,
    948px 1828px #1b2735, 1977px 1001px #1b2735, 1284px 1963px #1b2735, 656px 284px #1b2735,
    1268px 1635px #1b2735, 1820px 598px #1b2735, 642px 1900px #1b2735, 296px 57px #1b2735,
    921px 1620px #1b2735, 476px 1858px #1b2735, 658px 613px #1b2735, 1171px 1363px #1b2735,
    1419px 283px #1b2735, 1037px 731px #1b2735, 503px 663px #1b2735, 1562px 463px #1b2735,
    383px 1197px #1b2735, 1171px 1233px #1b2735, 876px 1768px #1b2735, 856px 1615px #1b2735,
    1375px 1924px #1b2735, 1725px 918px #1b2735, 952px 119px #1b2735, 768px 1212px #1b2735,
    992px 1462px #1b2735, 1929px 717px #1b2735, 1947px 755px #1b2735, 1818px 1123px #1b2735,
    1896px 1672px #1b2735, 460px 198px #1b2735, 256px 271px #1b2735, 752px 544px #1b2735,
    1222px 1859px #1b2735, 1851px 443px #1b2735, 313px 1858px #1b2735, 709px 446px #1b2735,
    1546px 697px #1b2735, 674px 1155px #1b2735, 1112px 130px #1b2735, 355px 1790px #1b2735,
    1496px 974px #1b2735, 1696px 480px #1b2735, 1316px 1265px #1b2735, 1645px 1063px #1b2735,
    1182px 237px #1b2735, 427px 1582px #1b2735, 859px 253px #1b2735, 458px 939px #1b2735,
    1517px 1644px #1b2735, 1943px 60px #1b2735, 212px 1650px #1b2735, 966px 1786px #1b2735,
    473px 712px #1b2735, 130px 76px #1b2735, 1417px 1186px #1b2735, 909px 1580px #1b2735,
    1913px 762px #1b2735, 204px 1143px #1b2735, 1998px 1057px #1b2735, 1468px 1301px #1b2735,
    144px 1676px #1b2735, 21px 1601px #1b2735, 382px 1362px #1b2735, 912px 753px #1b2735,
    1488px 1405px #1b2735, 802px 156px #1b2735, 174px 550px #1b2735, 338px 1366px #1b2735,
    1197px 774px #1b2735, 602px 486px #1b2735, 682px 1877px #1b2735, 348px 1503px #1b2735,
    407px 1139px #1b2735, 950px 1400px #1b2735, 922px 1139px #1b2735, 1697px 293px #1b2735,
    1238px 1281px #1b2735, 1038px 1197px #1b2735, 376px 1889px #1b2735,
    1255px 1680px #1b2735, 1008px 1316px #1b2735, 1538px 1447px #1b2735,
    1186px 874px #1b2735, 1967px 640px #1b2735, 1341px 19px #1b2735, 29px 1732px #1b2735,
    16px 1650px #1b2735, 1021px 1075px #1b2735, 723px 424px #1b2735, 1175px 41px #1b2735,
    494px 1957px #1b2735, 1296px 431px #1b2735, 175px 1507px #1b2735, 831px 121px #1b2735,
    498px 1947px #1b2735, 617px 880px #1b2735, 240px 403px #1b2735;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}