.tab-num {
    font-size: clamp(16px, 3vw, 20px);
}

#companies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-card {
    text-align: center;
    margin: 0px 20px;
    margin-bottom: 80px;
    width: 400px;
    height: 650px;
    background-color: #ffffff;
    border: rgba(100, 100, 111, 0.2) 1px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    /* background: rgb(242,179,61);
    background: linear-gradient(0deg, rgba(242,179,61,1) 18%, rgba(38,38,38,1) 100%); */
    /* background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='658' height='79' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='14.5' stroke-opacity='0.86'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    z-index: 1; */
    
}

.company-title {
    padding: 20px 0px;
    font-size: 20px;
    color: var(--primaryColor);
}

.card-body {
    padding: 30px 20px;
}

.company-logo:nth-of-type(2) {
    width: 15%;
}

.company-logo {
    width: 35%;
}

.company-position, .company-duration, .company-location {
    color: var(--primaryColor);
}

.icon {
    padding: 5px;
}

.company-details {
    padding: 20px;
    margin: auto 0px;
    text-align: left;
}

.compnay-details ul {
    list-style-type: none;
}

.compnay-details li {
    margin-bottom: 5px;
}

.bullet {
    font-size: 8px;
    padding: 2px;
}

@media only screen and (max-width: 900px) {
    #companies {
        flex-wrap: wrap;
    }
    .company-card {
        height: auto;
    }
}

@media only screen and (max-width: 450px) {
    .card-body {
        padding: 15px;
    }
    .company-details {
        padding: 10px;
    }
}