.tab-num {
    font-size: clamp(16px, 3vw, 20px);
}

#companies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-card {
    text-align: center;
    margin: 0px 20px;
    margin-bottom: 80px;
    width: 400px;
    height: 730px;
    background-color: #ffffff;
    border: rgba(100, 100, 111, 0.2) 1px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.company-title {
    padding: 20px 0px;
    font-size: 20px;
    color: var(--primaryColor);
}

.card-body {
    padding: 30px 20px;
}

.company-logo:nth-of-type(2) {
    width: 15%;
}

.company-logo {
    width: 35%;
}

.company-position, .company-duration, .company-location {
    color: var(--primaryColor);
}

.icon {
    padding: 5px;
}

.company-details {
    padding: 20px;
    margin: auto 0px;
    text-align: left;
}

.compnay-details ul {
    list-style-type: none;
}

.list-work li{
    margin-bottom: 8px;
}

.bullet {
    font-size: 8px;
    padding: 2px;
}

@media only screen and (max-width: 900px) {
    #companies {
        flex-wrap: wrap;
    }
    .company-card {
        height: auto;
    }
}

@media only screen and (max-width: 450px) {
    .card-body {
        padding: 15px;
    }
    .company-details {
        padding: 10px;
    }
}