.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 0px 40px;
    z-index: 3;
    background-color: var(--backgroundColor);
    box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 20%;
}

.nav-links a {
    padding: 5px;
}

.nav-right>a {
    margin-left: 30px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-num {
    color: var(--secondaryColor);
    font-size: 13px;
}

.logo {
    font-size: 20px;
    color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    padding: 5px;
}

@media only screen and (max-width: 900px) {
    .navbar {
        padding: 0px 10px
    }

    .nav-right {
        justify-content: flex-end;
    }

    .nav-right a {
        font-size: 14px;
        font-weight: 400;
    }

    .nav-links {
        margin-right: 150px;
    }

    .list-num {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav-right a {
        font-size: 11px;
    }

    .nav-links {
        margin-right: 100px;
    }
}

@media only screen and (max-width: 440px) {
    #resume {
        margin-right: 60px;
    }

    .nav-links {
        margin-right: 85px;
    }

    .nav-links a {
        padding: 2px;
    }
}