
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* Clean and Energetic */
  --backgroundColor: #f4f7fd;
  --backgroundColor2: #f4f7fd;
  --primaryColor: black;
  --secondaryColor: #027dc5;
  --marketBoxColor: #ff681d;
  --thinktumColor: #2cabe2;
  --pointClickCare: #97cb04;
  --navbarColor: #2cabe2
  /* version 1 */
  /* --backgroundColor: #262626;
  --primaryColor: #F2F2F2;
  --secondaryColor: #F2B33D;
  --marketBoxColor: #ff681d;
  --thinktumColor: #2cabe2; */
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--backgroundColor);
  background-color: #000000; */
  /* background:radial-gradient(var(--backgroundColor) 35%, var(--backgroundColor2) 100%); */
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%); */
  max-width: 100%;
  overflow-x: hidden;
}

li, a, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--primaryColor);
  text-decoration: none;
}

.btn {
  padding: 5px;
  border: 1.5px solid var(--secondaryColor);
  border-radius: 5px;
  font-size: 18px;
}

.landing-page {
  height: 94.3vh;
}

.landing-page-footer {
  height: 5.7vh;
  width: 300%;
  z-index: -1;
  background-color: var(--secondaryColor);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='658' height='79' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23000000' stroke-width='14.5' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  animation: wave 13s infinite alternate-reverse;
}

.tab-heading {
  font-size: clamp(26px,5vw, 32px);
  margin: 10px 0px 40px;
  color: var(--primaryColor);
  text-align: center;
}